<h1 mat-dialog-title>Bookshelf Login de Usuário</h1>
<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{conteudo}}</mat-card-title>
      <mat-card-subtitle>[Entre em sua estante virtual]</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/imagens/4.png" alt="Banner do login">
    <mat-card-content>
      <form [formGroup]="formularioLogin" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Email de login">
          <mat-error *ngIf="email?.errors?.['required']">
            O campo de email não pode estar vazio
          </mat-error>
          <mat-error *ngIf="email?.errors?.['email']">
            O formato de e-mail não é válido
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Senha de acesso" type="password">
          <mat-error *ngIf="senha?.errors?.['required']">
            Senha não pode estar vazia
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Entrar</button>
        <button mat-button mat-dialog-close color="primary">Fechar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div mat-dialog-actions></div>
