/* You can add global styles to this file, and also import other style files */
/*Escopo geral de CSS*/
@import '@angular/material/theming';
@include mat-core();

/*Modificando a cor do tema padrão. Agr posso modificar essas cores na minha tolbar*/
$custom-app-primary: mat-palette($mat-grey, 800);
$custom-app-secondary: mat-palette($mat-deep-purple, 400);
$custom-app-warn: mat-palette($mat-red, 800);

$custom-theme: mat-light-theme($custom-app-primary,$custom-app-secondary, $custom-app-warn);

@include angular_material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
